#Backend host for django the defaul is 'http://localhost:8000'
REACT_APP_BACKEND_HOST=
#Key for encrypt the state loaded in localStogare
# of browser tou can put here any string with 32 chars
REACT_APP_PERSIST_KEY=
#Envirioment for devlopment default is DEV
REACT_APP_ENV=
