asgiref==3.2.3
astroid==2.3.3
boto3==1.12.0
botocore==1.15.0
coverage==5.0.3
dj-database-url==0.5.0
Django==3.0.3
django-cors-headers==3.2.0
django-filter==2.2.0
django-heroku==0.3.1
django-query-builder==1.2.0
django-seed==0.2.2
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
docutils==0.15.2
Faker==4.0.1
fleming==0.5.0
gunicorn==20.0.4
isort==4.3.21
jmespath==0.9.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
psycopg2==2.8.4
PyJWT==1.7.1
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
python-dateutil==2.8.1
python-dotenv==0.10.3
pytz==2019.3
s3transfer==0.3.3
six==1.14.0
sqlparse==0.3.0
text-unidecode==1.3
typed-ast==1.4.1
urllib3==1.25.8
whitenoise==5.0.1
wrapt==1.11.2
